// UI app colors
$main-color: #5e6f5d;
$second-color: #212121;
$third-color: #f1f5f6;
$text-color: #222;
$second-text-color: #4c4c4c;
$border-color: #333;
$error-color: #b80909;

// Base colors
$white-color: #fff;
$gray-color: #f1f1f1;
$black-color: #111;

// Fonts
$heading-font-family: sans-serif; //we need to choose a hading font family
$font-family: sans-serif; //we need to choose a general font family

// Breakpoints
$content-width: 1200px;
$mobile-breakpoint: 700px;