// UI app colors
$main-color: #5e6f5d; //we need to choose a main color
$second-color: #212121; //we need to choose a second color
$third-color: yellow; //we need to choose a third color
$text-color: #222;
$second-text-color: #4c4c4c;
$border-color: #333;

// Base colors
$white-color: #f1f5f6;
$gray-color: #e6e6e6;
$light-blue-color: #00AEEF;
$black-color: #111;

// Fonts
$heading-font-family: sans-serif; //we need to choose a hading font family
$font-family: sans-serif; //we need to choose a general font family

// Breakpoints
$content-width: 1200px;
$mobile-breakpoint: 700px;