// UI app colors
$main-color: blue; //we need to choose a main color
$second-color: red; //we need to choose a second color
$third-color: yellow; //we need to choose a third color
$text-color: #222;

// Base colors
$white-color: #fff;
$gray-color: #e6e6e6;
$black-color: #000;

// Fonts
$heading-font-family: sans-serif; //we need to choose a hading font family
$font-family: sans-serif; //we need to choose a general font family

// Breakpoints
$content-width: 1200px;
$mobile-breakpoint: 680px;