// UI app colors
$main-color: #5e6f5d; //we need to choose a main color
$second-color: #212121; //we need to choose a second color
$third-color: yellow; //we need to choose a third color
$text-color: #222;
$border-color: #333;

// Base colors
$white-color: #fff;
$gray-color: #e6e6e6;
$black-color: #000;
$light-blue-color: #00AEEF;

// Fonts
$heading-font-family: sans-serif; //we need to choose a hading font family
$font-family: sans-serif; //we need to choose a general font family

// Breakpoints
$content-width: 1200px;
$mobile-breakpoint: 700px;