<div class="home-page__conteiner">
    <h2>Home</h2>
    <div class="new-post">
        <div class="type-post">
            <p>Prestar servicio<span class="arrow"><i class="fa-solid fa-caret-down fa-xl"></i></span></p>
            <button>Post</button>
        </div>
        
        <div class="text-post">
            <textarea name="text-post" id="text-post" placeholder="Escribe algo..."></textarea>
        </div>
    </div>
    <div class="search-results">
        <post-card></post-card>
        <post-card></post-card>
        <post-card></post-card>
        <post-card></post-card>
        <post-card></post-card>
        <post-card></post-card>
        <post-card></post-card>
        <post-card></post-card>
        <post-card></post-card>
        <post-card></post-card>
        <post-card></post-card>
        <post-card></post-card>
        <post-card></post-card>
        <post-card></post-card>
    </div>
</div>