<div class="new-post page-width">
    <form class="form-post">
        <div class="top">
            <div class="user-image">
                <!-- imagen -->
            </div>
            <select name="post[type]" id="typePost" class="secondary">
                <option value="give" selected>Give service</option>
                <option value="contract" selected>Contract service</option>
            </select>
            <button class="primary" type="submit">Post</button>
        </div>
        <textarea name="post[text]" id="textPost" placeholder="Type something..."></textarea>
    </form>
</div>
