<div class="modal__edit-profile">
    <button class="close-btn" (click)="closeEditProfileModal($event)">
        <img src="../../../assets/icons/cross.svg" alt="X">
    </button>
    <div class="form-container page-width">
        <h2>Edit Profile</h2>
        <form (submit)="submitHandler($event)">
            <div class="group-field">
                <div class="field">
                    <div class="user-info__image">
                        <!-- user image -->
                    </div>
                </div>

                <div class="field">
                    <div class="field">
                        <label for="usernameProfile">Username:</label>
                        <input type="text" name="username" id="usernameProfile" placeholder="Type your new username" [formControl]="editProfileState.username">
                        <span class="error-message"></span>
                    </div>
            
                    <div class="field">
                        <label for="nameProfile">Name:</label>
                        <input type="text" name="name" id="nameProfile" placeholder="Type your new name" [formControl]="editProfileState.name">
                        <span class="error-message"></span>
                    </div>
                </div>
            </div>
    
            <div class="field">
                <label for="descriptionProfile">Description:</label>
                <textarea name="description" id="descriptionProfile" placeholder="Type your new description" [formControl]="editProfileState.description"></textarea>
                <span class="error-message"></span>
            </div>

            <div class="group-field">
                <div class="field">
                    <label for="cityProfile">City:</label>
                    <input type="text" name="city" id="cityProfile" placeholder="Type your new city" value="Rosario" [formControl]="editProfileState.city">
                    <span class="error-message"></span>
                </div>

                <div class="field">
                    <label for="provinceProfile">Province:</label>
                    <input type="text" name="province" id="provinceProfile" placeholder="Type your new province" value="Santa Fe" [formControl]="editProfileState.province">
                    <span class="error-message"></span>
                </div>
            </div>

            <div class="field">
                <label for="countryProfile">Country:</label>
                <input type="text" name="country" id="countryProfile" placeholder="Type your new country" value="Argentina" [formControl]="editProfileState.country">
                <span class="error-message"></span>
            </div>

            <div class="group-field">
                <button type="submit" class="primary">Save</button>
                <button class="secondary" (click)="closeEditProfileModal($event)">Cancel</button>
            </div>
        </form>
    </div>
</div>