<div class="modal__edit-profile">
    <button class="close-btn" (click)="closeEditProfileModal($event)">
        <img src="../../../assets/icons/cross.svg" alt="X">
    </button>
    <div class="form-container page-width">
        <h2>Edit Profile</h2>
        <form>
            <div class="group-field">
                <div class="field">
                    <label for="usernameProfile">Username:</label>
                    <input type="text" name="editprofile[username]" id="usernameProfile" placeholder="Type your new username" value="username">
                </div>
        
                <div class="field">
                    <label for="nameProfile">Name:</label>
                    <input type="text" name="editprofile[name]" id="nameProfile" placeholder="Type your new name" value="Nombre de usuario">
                </div>
            </div>
    
            <div class="field">
                <label for="descriptionProfile">Description:</label>
                <textarea name="editprofile[description]" id="descriptionProfile" placeholder="Type your new description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad iste error, voluptatum beatae distinctio vero at nihil, consectetur magnam vel iure enim facere. Laboriosam dolor ullam dolorum ipsum, sed incidunt!</textarea>
            </div>

            <div class="group-field">
                <button type="submit" class="primary">Save</button>
                <button class="secondary" (click)="closeEditProfileModal($event)">Cancel</button>
            </div>
        </form>
    </div>
</div>