main-header {
    background-color: $third-color;
    border-top: 1px solid $border-color;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 2;

    @include mobile-up {
        width: 30vw;
        max-width: 250px;
        height: 100vh;
        border-top: unset;
        border-right: 1px solid $border-color;
        position: unset;
    }

    @include content-up {
        left: calc((100vw - $content-width)/2);
    }

    .menu {
        padding: 10px 20px;
        position: relative;
        background-color: $third-color;

        &-items {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include mobile-up {
                flex-direction: column;
                gap: 10px;
            }

            &__item {
                list-style: none;
                transition: all 300ms ease;

                @include mobile-up {
                    width: 100%;
                }

                a, 
                button {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 10px;

                    @include mobile-up {
                        padding: 5px 10px;
                        border-radius: 1000px;
                        
                        &:hover {
                            background: $gray-color;
                        }
                    }

                    svg {
                        height: 24px;
                    }

                    span {
                        font-size: 1.6rem;
                        font-weight: medium;
                        display: none;

                        @include mobile-up {
                            display: unset;
                        }
                    }

                    &.active {
                        @include mobile-up {
                            background: $white-color;
                        }
        
                        path {
                            fill: $main-color;
                        }
                    }
                }
            }

            .submenu {
                border-top: 1px solid $border-color;
                width: 100%;
                height: 200px;
                position: absolute;
                z-index: -1;
                left: 0;
                bottom: -210px;
                transition: all 300ms ease;
                background-color: $third-color;
            
                &.open {
                    bottom: 100%;
                }

                ul {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                }

                li {
                    width: 100%;
                    height: 40px;
                    font-size: 1.5rem;

                    a {
                        width: 100%;
                        height: 100%;
                        display: block;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover {
                            background-color: $gray-color;
                        }

                        &.active {
                            background: $white-color;
                        }
                    }
                }
            }

            @include mobile-up {
                .menu-btn {
                    order: 1;
                    margin-top: 50px;

                    button{
                        display: none;
                    }
                }

                .submenu {
                    border-top: none;
                    height: max-content;
                    position: unset;
                    z-index: unset;
                
                    &.open {
                        bottom: unset;
                    }
    
                    ul {
                        height: unset;
                        width: unset;
                        display: unset;
                    }
    
                    li {
                        width: 100%;
                        height: max-content;
                        font-size: 1.6rem;
                        list-style: none;
    
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            padding: 5px 10px;
                            width: 100%;
                            height: 34px;
    
                            &:hover {
                                background-color: $gray-color;
                            }
                        }
                    }
                }
            }
        }
    }
}