home-page {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    display: block;

    .search-results {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        padding-top: 20px;
        padding-bottom: 44px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        @include mobile-up {
            padding-bottom: 0;
        }
    }

    .no-posts-message {
        margin-top: 30px;
        text-align: center;
    }
}