search-page {
    background-color: $third-color;
    width: 100%;

    .search-page__container {

        .search-form {
            border-bottom: 1px solid $border-color;
            padding-top: 10px;
            padding-bottom: 10px;
            position: relative;
            display: flex;
            align-items: center;
            gap: 10px;

            input {
                padding: 10px 45px 10px 15px;
                width: 100%;
            }

            button {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 120px;
                margin: auto 30px;
                border: none;
                background: transparent;
                padding: 0;

                svg {

                }
            }
        }

        .search-results {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            padding-top: 20px;
            height: calc(100vh - 44px - 57px);
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            @include mobile-up {
                height: calc(100vh - 57px);
            }

            &.show-error {
                justify-content: center;

                .search-result__message {
                    display: unset;
                }
            }

            .search-result__message {
                font-size: 1.6rem;
                display: none;
            }
        }
    }
}
