service-edit{
    display: block;
    width: 100%;
    padding: 0 20px 20px 20px;

    .info-conteiner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 20px;
        background: $white-color;
        border-radius: 10px;
        position: relative;
        margin: 10px;
        div{
            width: calc(33% - 20px);
        }

        .button {
            display: flex;
            width: 30%;
          }
          
          .edit,
          .delete {
            display: inline-block; /* O también puedes usar "display: flex;" */
          }
          
          .edit-btn,
          .delete-btn {
            background: none;
            border: none;
            cursor: pointer;
          }
    }
}
