service-form {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .service-form__container {
        width: 100%;
        max-width: 500px;
    }
}