<ng-container *ngIf="this.userLogged">
    <edit-profile-form [user]="this.userLogged"></edit-profile-form>
</ng-container>

<div class="user-info" *ngIf="user">
    <div class="top">
        <div class="user-info__image" [style.background-color]="imageColor">
            <div class="profile-image">
                <div class="profile-head"></div>
                <div class="profile-body"></div>
            </div>
        </div>
        <div class="user-info__buttons">
            <ng-container *ngIf="this.userLogged._id === this.user._id; else elseBlockFollow">
                <button class="button__edit-profile secondary" (click)="openEditProfileModal($event)">Edit profile</button>
            </ng-container>

            <ng-template #elseBlockFollow>
                <ng-container *ngIf="this.userLogged.follows && this.userLogged.follows.includes(this.user._id); else elseBlockFollowing">
                    <button id="follow-btn" class="button__follow primary">Following</button>
                </ng-container>
                <ng-template #elseBlockFollowing>
                    <button id="follow-btn" class="button__follow secondary">Follow</button>
                </ng-template>
            </ng-template>
        </div>
    </div>

    <div class="bottom">
        <h2 class="user-info__name">{{ this.user.name }}</h2>
        <p class="user-info__username">@{{ this.user.username }}</p>

        <p class="user-info__description">{{ this.user.description }}</p>
        
        <ng-container *ngIf="this.user.address">
            <p *ngIf="!!this.user.address.city || !!this.user.address.province || !!this.user.address.country" class="user-info__address">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M12 21C10.7369 19.9226 9.56619 18.7415 8.5 17.469C6.9 15.558 5 12.712 5 9.99999C4.99858 7.16754 6.70425 4.61338 9.32107 3.52939C11.9379 2.44539 14.9501 3.04523 16.952 5.04899C18.2685 6.3596 19.0059 8.14238 19 9.99999C19 12.712 17.1 15.558 15.5 17.469C14.4338 18.7415 13.2631 19.9226 12 21ZM12 6.99999C10.9282 6.99999 9.93782 7.57179 9.40193 8.49999C8.86603 9.42819 8.86603 10.5718 9.40193 11.5C9.93782 12.4282 10.9282 13 12 13C13.6569 13 15 11.6568 15 9.99999C15 8.34313 13.6569 6.99999 12 6.99999Z" fill="#2E3A59"/>
                </svg>
                {{ this.user.address.city }}, {{ this.user.address.province }}, {{ this.user.address.country }}</p>
        </ng-container>

        <div class="user-info__follows">
            <p class="following">{{ this.user.follows ? this.user.follows.length : '0' }} <span>Following</span></p>
            <p class="followers">{{ this.user.followers ? this.user.followers.length : '0' }} <span>Followers</span></p>
        </div>
    </div> 
</div>

<div class="user-posts" *ngIf="user">
    <div class="user-posts__tabs">
        <a [routerLink]="this.userPostsURL" routerLinkActive="active" class="tab" data-tab="posts">Posts</a>
        <a [routerLink]="this.userLikesURL" routerLinkActive="active" class="tab" data-tab="likes">Likes</a>
        <a [routerLink]="this.userMediaURL" routerLinkActive="active" class="tab" data-tab="media">Media</a>
    </div>

    <div class="search-results" *ngIf="user && postsToShow && postsToShow.length > 0; else elseBlockPosts">
        <post-card *ngFor="let post of postsToShow" [user]="post.user" [post]="post.post" [userLogged]="userLogged"></post-card>
    </div>

    <ng-template #elseBlockPosts>
        <p class="no-posts-message">There aren't posts in this section</p>
    </ng-template>
</div>