<div class="login-page__container page-width">
    <div id="sign-in" class="hidden form-container">
        <h2>Sign In</h2>
        <form action="">
            <div class="field">
                <label for="emailLogin">E-mail:</label>
                <input type="email" name="login[email]" id="emailLogin" placeholder="Type your e-mail">
            </div>

            <div class="field">
                <div class="top">
                    <label for="passwordLogin">Password:</label>
                    <a href="#">Forgot your password?</a>
                </div>
                <input type="password" name="login[password]" id="passwordLogin" placeholder="Type your password">
            </div>

            <button type="submit" class="primary">Login</button>
        </form>

        <p class="message">Don't have an account? <a href="/login/#sign-up">Sign up</a></p>
    </div>
    
    <div id="sign-up" class="hidden form-container">
        <h2>Sign Up</h2>
        <form action="">
            <div class="group-field">
                <div class="field">
                    <label for="nameRegister">Name:</label>
                    <input type="text" name="register[name]" id="nameRegister" placeholder="Type your name">
                </div>

                <div class="field">
                    <label for="usernameRegister">Username:</label>
                    <input type="text" name="register[username]" id="usernameRegister" placeholder="Type your username">
                </div>
            </div>

            <div class="field">
                <label for="emailRegister">E-mail:</label>
                <input type="email" name="register[email]" id="emailRegister" placeholder="Type your e-mail">
            </div>

            <div class="group-field">
                <div class="field">
                    <label for="passwordRegister">Password:</label>
                    <input type="password" name="register[password]" id="passwordRegister" placeholder="Type your password">
                </div>
    
                <div class="field">
                    <label for="passwordRepeatRegister">Repeat your password:</label>
                    <input type="password" name="register[passwordRepeat]" id="passwordRepeatRegister" placeholder="Type your password">
                </div>
            </div>

            <button type="submit" class="primary">Register</button>
        </form>

        <p class="message secondary">By creating an account you agree with our <a href="#" target="_blank">Terms of Service</a> and <a href="#" target="_blank">Privacy Policy</a>.</p>
        <p class="message">Already have an account? <a href="/login/#sign-in">Sign In</a></p>
    </div>
</div>